.brandSection{
    margin-left: 8%;
}

.brandTitle{
    font-family: var(--main-font);
    color: var(--white);
    margin-bottom: 48px;
}

.brands{    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 230px;
    height: 115px;
    background-color: var(--black-400);
    border-radius: 8px;
}